/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/**
 * copyright 2022 @codewithsadee 
 */


/*-----------------------------------*\
  #VARIABLE
\*-----------------------------------*/

@import url(./variable.css);

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font: inherit;
}

img,
span,
a,
ion-icon {
    display: block;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

html {
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--red-orange-color-wheel);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ultramarine-blue);
}


/* COMPONENT  */

.btn {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-6);
    font-weight: var(--fw-5);
    border-radius: 8px;
    color: var(--white);
    padding: 20px 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.btn .btn-text {
    position: relative;
    z-index: 5;
}

.btn-primary {
    background: var(--red-orange-color-wheel);
}


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.container {
    background: var(--white);
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}


/* HEADER  */

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1440px;
    background: hsla(0, 0%, 100%, 0.9);
    backdrop-filter: blur(0.9em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem var(--rem);
    box-shadow: 0 1rem 1.5rem -0.6rem hsla(0, 0%, 0%, 0.03);
    z-index: 100;
}

.navbar-nav {
    position: absolute;
    background: var(--white);
    top: calc(100% + 40px);
    left: 1.9rem;
    right: 1.9rem;
    text-align: center;
    box-shadow: 0 1rem 1.5rem -0.6rem hsla(0, 0%, 0%, 0.25);
    padding: 1.9rem;
    border-radius: 0.5rem;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.nav-item a {
    padding: 0.3rem;
    font-size: var(--fs-5);
    font-weight: var(--fw-6);
    color: var(--oxford-blue);
    transition: var(--default-transition);
}

.nav-item:not(:last-child) a {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.nav-item a:hover {
    color: var(--red-orange-color-wheel);
}

.navbar-nav.active {
    animation: menuPopup 0.5s ease forwards;
    pointer-events: all;
}